
.container-fluid {
  margin: auto;
}

aside {
  padding-top: 1rem;
  font-family: 'Sansita', sans-serif;
}
.item-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .item-container {
   max-width: 100%;
  }
}

.item {
  
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 1rem; 
  width: 90%;
  height: 100%;
  background-color: white;
}

@media screen and (max-width: 767px) and (min-width: 551px) {
  .item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto; 
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.container {
  margin: auto;
}
nav {
  text-align: center;
  width: 100%;
   font-family: 'Sansita', sans-serif;
}

nav li {
  display: inline;
  font-size: 1.1rem;
}

li a:hover {
    color: #F8B28B;
    font-size: 25px;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0.5rem 2rem 0.7rem 2rem;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #7B68EE;
  font-size: 2rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
   font-family: 'Sansita', sans-serif;
  letter-spacing: 0.1rem;
}
 
header {
  padding: 1rem;
}

img {
  max-width: 100%;
  padding-top: 1rem;
  margin: auto;
}

h4 {
  
 font-family: 'Sansita', sans-serif;
  color: #6A5ACD;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: auto;
  letter-spacing: 0.05rem;
    font-size: 2rem;
}

h5 {
  font-family: 'Sansita', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  bottom: 0;
  padding: 1rem;
  margin: auto;
  letter-spacing: 0.05rem;
}

@media screen and (max-width: 767px) and (min-width: 551px) {
  h5 {
    padding-right: 1rem;
    font-size: .5rem;
  }
}

h2 {
 font-family: 'Sansita', sans-serif;
  color: black;
  padding-top: 2rem;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

p {
  font-family: 'Sansita', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  letter-spacing: 0.04rem;
  text-align: center;
}

@media screen and (max-width: 767px) and (min-width: 551px) {
  p {
    font-size: .5rem;
    width: 50%;
    margin: auto;
  }

.photo-frame {
  height: 60%;
  padding-bottom: 3rem;
}
 
  }
  footer{
    color: #6A5ACD;
    font-family: 'Sansita', sans-serif;
    font-weight: bold;
  }