.container-fluid {
  margin: auto;
  
}
body{
    font-family: 'Sansita', sans-serif;
}
.item-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  margin: auto;
  text-align: center;
}
.item {
  
  justify-content: center;
  text-align: center;
  margin: auto;
  display: block;
}

.container {
  margin: auto;
}
nav {
  text-align: center;
  width: 100%;
}

nav li {
  display: inline;
  font-size: 1.1rem;
}

li a:hover {
    color: #F8B28B;
    font-size: 25px;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0.5rem 2rem 0.7rem 2rem;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #7B68EE;
  font-size: 2rem;
}

h1 {
  padding-top: 1rem;
  text-align: center;
  font-size: 2rem;
  
}
h2{
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

header {
  padding: 1rem;
}

img {
  width: 15em;
  height: 20rem
}


h4{
  font-weight: bold;
}
p{
  color: #6A5ACD;
}
/ {
  font-size: 0.8rem;
}
footer p{
  color:black;
}